body {
    font-family: sans-serif;
    color: #777;
    background-color: #f2f2f2;
    font-size: 1rem;
}
h2 {
    margin: 0 0 20px;
    color: #000;
    border-bottom: 1px solid #CCC;
    font-size: 2rem;
}
div.main-container{
     width: 1000px;
     margin: 0 auto;
     overflow: auto;
     background-color: #fff;
     padding: 20px;
}
section.editorial-container{
     width:500px;
     display: block;
     position: fixed;
}
section.form-container {
    width: 500px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: block;
    float: right;
    position: relative;
}
div.content-container{
    padding: 20px;
}
div.btn-container{
    display: inline-block; 
    text-align: right; 
    width: 100%
}

/*  FORM STYLES */
label{
    font-weight: bold;
}
input, textarea {
    padding: 15px;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}
textarea {
    height: 100px;
}
input.btn-submit{
    width: 125px;
    font-weight: bold;
    background-color: #009933;
    border: 1px solid #00802b;
    color: #FFF;
    margin-bottom: 0px;
}
input.btn-submit:hover{
    background-color: #00802b;
    border: 1px solid #00802b;
}
input.btn-submit:disabled{
    background-color: red;
    color: #FFF;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}