@media (max-width: 600px) {
    h2 {
        color:pink;
    }
}

body {
    font-family: sans-serif;
    color: #777;
    background-color: #f2f2f2;
}
h2 {
    margin: 0 0 20px;
    color: #000;
    border-bottom: 1px solid #CCC;
    font-size: 34px;
}
div.main-container{
     width: 1000px;
     margin: 0 auto;
     overflow: auto;
     background-color: #fff;
     padding: 20px;
}
section.editorial-container{
     width:500px;
     display: block;
     position: fixed;
}
section.form-container {
    width: 500px;
    background-color: #efefef;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-radius: 5px;
    display: block;
    float: right;
    position: relative;
}
div.content-container{
    padding: 20px;
}
div.btn-container{
    display: inline-block; 
    text-align: right; 
    width: 100%
}

/*  FORM STYLES */
label{
    font-weight: bold;
}
input, textarea {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}
textarea {
    height: 100px;
}
input.btn-submit{
    width: 125px;
    font-weight: bold;
    background-color: #00ff00;
    border: 1px solid #00e600;
    color: #FFF;
    margin-bottom: 0px;
}
input.btn-submit:hover{
    background-color: #66ff66;
    border: 1px solid #00e600;
}
input.btn-submit:disabled{
    background-color: red;
    color: #FFF;
}